<nav class="flex items-center bg-(--background-color2) h-[7vh]">
    <img src="/assets/oplogotemp.png" alt="StockPiece Logo" class="nav-logo w-50">
    <div class="ml-10" >

        <button class="nav-button">Stock</button>
        <button class="nav-button">Gamble</button>
        <button class="nav-button">Shop</button>
        <button class="nav-button">Faction</button>
    </div>
    <div class="flex ml-auto mr-5">

        <p class="nav-tokens"> xxx tokens</p>
        <p class="nav-berry"> xxx Berrys</p>
        <button class="nav-profile-button">Profile</button>
    </div>
</nav>